@import "./_theme-divs.scss";
@import "./_recent-activity.scss";
/*--------- START Overview Styles ----------- */
.welcomeHeader {
  padding: 1em;
}
.welcomeMsg {
  padding-left: 5em;
  padding-right: 5em;
}

.overviewPercentChangeFlex {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin-top: 15px;
}

.overview_header {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 0 0.5em;
}

.overview-grid-panel {
  @extend .color-forth-text;
  @extend .grey-lightest-div;
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  height: 100% !important;
  // max-width: 100%;
  margin-left: 4px;
  overflow-x: hidden;
  position: relative;
  text-align: left;
  justify-content: space-between;
  /*border: 1px solid gold;*/
}
.overview-header-link{
  flex: 0 1 auto;
}

.overview-header-releases{
  flex: 0 1 auto;
  font-size: 0.9em; 
  font-weight: 300;
}
.circleStyle {
  min-height: 10vw;
  min-width: 10vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: $color-grey-lightest !important;
}

.overview-grid-panel-column-item {
  flex: 1 1 auto;
}


.comparisonMessage {
  flex: auto;
  padding-left: 0.5em;
}

.gainLossItem {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $color-grey-darkest;
  padding: 0 0 0.5em 0;
  text-align: center;
}

.gainLossText {
  flex: auto;
  max-width: 70%;
  margin: 0.2em;
}

.gainHeader {
  flex: auto;
  text-align: center;
}
.gainHeader h4 {
  padding: 1em 0 0 0;
  margin: 0;
}
// .gainHeaderLosses {
//   /*@extends .gainHeader*/
//   /*padding: 0 !important; */
// }
/*--------- END Overview Styles ----------- */
