@import "./_theme-colors.scss";
.recent_activity_panel {
  justify-content: flex-start !important;
  overflow: auto !important;
  /*border: 10px solid green; */
}

span {
  display: inline-block;
}

.recent_activity_list {
  width: 95%;
}

.recent_activity_item {
  flex: auto;
  width: 100%;
  margin-left: 0.5em;
  margin-bottom: 1%;
  border-radius: 5px;
  background: $color-grey-lighter;
  border: 0.5px solid $color-grey;
  padding: 0.5em;
}

.recent_activity_item:hover {
  background: $color-grey;
}

.recent_activity_title {
  flex: 1 1 auto;
  /*font-size: 2em;*/
}

.recent_activity_totals {
  flex: 0 1 auto;
  /*align-self: flex-start;*/
  /*border: 10px solid gold;*/
}

.recent_activity_flex_wrapper {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  /*border: 10px solid black;*/
}

.pending_style {
  color: $color-second;
  flex: 1 1 auto;
  flex-grow: 1;
}

.complete_style {
  @extend .pending_style;
  color: $color-first;
}

.pending_circle_style {
  border-radius: 50%;
  background: $color-second;
  height: 1em;
  width: 1em;
  display: inline-block;
}

.complete_circle_style {
  @extend .pending_circle_style;
  background: $color-first;
}

.recent_activity_super {
  font-size: 0.8em;
  padding: 0 0 0 0;
  text-align: center;
}

.recent_activity_author {
  @extend .recent_activity_super;
  text-align: left;
  min-width: 30%;
}

.recent_activity_hash {
  @extend .recent_activity_super;
  color: "#458BCA";
  min-width: 20%;
}

.recent_activity_headers {
  font-size:0.8em;
  width:95%;
  color:"#888";
}

.recent_activity_branch {
  @extend .recent_activity_super;
  color: $color-second-darker;
  min-width: 20%;
}

.recent_activity_tests {
  @extend .recent_activity_super;
  color: $color-first-darker;
  min-width: 8%;
}

.recent_activity_time {
  @extend .recent_activity_super;
  color: $color-grey-darker;
  min-width: 15%;
}

.recent_activity_updated {
  color: $color-first-darker;
  /*flex: 0 1 auto;*/
  text-align: center;
  font-size: 0.9em;
}

.recent_activity_processing {
  @extend .recent_activity_super;
  color: $color-second-darker;
  text-align: center;
  min-width: 10%;
}

.recent_activity_done {
  @extend .recent_activity_super;
  color: $color-first-darker;
  text-align: center;
  min-width: 10%;
}
