@import "./_theme-colors.scss";
.settingsTableStyle {
  margin: 0 auto;
  max-width: 900px;
  /*border: 10px solid gold;*/
  border-radius: 5px;
  padding: 1em;
  background: $color-grey-lighter;
  margin-top: 5vh;
}

.unsubscribeMessage {
  color: $color-second;
}

.settingsStyle {
  height: 91vh;
  margin: 1vh 0.5vw;
  text-align: center;
  background: $color-grey-lightest;
}
