/*--------------- Typography ------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// From google material design guidelines
$text-opacity-primary: 0.87;
$text-opacity-secondary: 0.54;
$text-opacity-hint: 0.38;

$font: "Open Sans", sans serif;
h1 {
    font-family: $font;
    font-weight: 700;
    font-size: 48px;
    @media (max-width: $screen-sm-max) {
        font-size: 24px;
    }
}

h2 {
    font-family: $font;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    @media (max-width: $screen-sm-max) {
        font-size: 18px;
    }
}

h3 {
    font-family: $font;
    font-size:  16px;
}

h4 {
    font-family: $font;
    font-size:  15px;   // same as body, but bold
    font-style: italic;
}

h6 {
   margin: -15px 0px;
}
body {
    font-family: $font;
    font-size:  15px;
}