/*--------------- Colors ------------*/
// Green
$color-first: #88C442;
$color-first-darker: #76A538;

// Orange
$color-second: #F05A2B;
$color-second-darker: #D84F2A;

// Blue
$color-third: #458BCA;
$color-third-darker: #366E99;

// Dark
$color-forth: #192B33;
$color-forth-darker: #0D1619;

// Grey
$color-grey : #CCCCCC;
$color-grey-darker : #888888;
$color-grey-darkest : #666666;
$color-grey-lighter : #EEEEEE;
$color-grey-lightest : #F7F7F7;
