.thumbnail {
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
}

.thumbnail .caption {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}