/*
.jumbotron {
    background: transparent;
}

.req:after {
    content: "*";
    color: red;
}
//*
.navbar {
    margin-bottom: 0px;
    background: transparent;
    min-height: 50px;
    border: 0px;
}/*

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: medium;
    color: $color-third;
}

.navbar-toggle {
    margin-top: 22px;
}

hr {
    border-top-color: black;
}

.thumbnail > li {
    float: none;
}

#foot {
    //background: radial-gradient(#36414e, #253241);
    background: black;
    color: $color-grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

#foot a {
    color: $color-grey;
}

#foot a:hover:focus:visited {
    color: $color-grey;
}

#foot-divide {
    border-right-style: dotted;
    border-right-color: $color-grey;
    border-right-width: 1px;
    max-height: 100%;
}

.section {
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
}

.divider {
    height: 30px;
}

.big-divider {
    height: 120px;
}

.carousel-inner {
    min-height: 250px;
}

.carousel-inner > .item > img {
    margin: auto;
    opacity: 0.8;
}

.carousel-indicators .active {
    background-color: $color-first;
}

.carousel-indicators li {
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control {
    font-size: 100px;
    top: 30%;
    color: #b0aaaa;
}

.img-face {
    border-radius: 10%;
}

section {
    @media (min-width: $screen-md-min) {
        height: 650px;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: auto;
    }
}

.thumbnail .img-div {
    height: 65px;
    max-width: 60%;
    margin: 0 auto;
}

.thumbnail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-div img {
    max-width: 100%;
}

#demo {
    background-color: $color-second;
    position: fixed;
    z-index: 100;
    right: 0px;
    bottom: 0px;
    border-color: $color-second-darker;
}

.icon.md-18 {
    font-size: 18px;
}

.icon.md-24 {
    font-size: 24px;
}

.icon.md-36 {
    font-size: 36px;
}

.icon.md-48 {
    font-size: 48px;
}

.icon.md-96 {
    font-size: 96px;
}

h1.primary-h1 {
    color: $color-first;
}

.table-div {
    display: table;
}

.table-div > div {
    display: table-cell;
    min-height: 100%;
    height: 100%;
    float: none;
}

code {
    color: $color-second;
    background-color: $color-grey-lightest;
}

body {
    background: #f7f7f7;
}


.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}*/
.main {
    margin-top: 20px;
}

option.selected-log {
  color: black;
  background-color: #CCCCCC;
}

div#logcat-logbox-content {
  height: 300px;
}

select#logcat-logs {
  width:100%;
  height:100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus, .panel-default>.panel-heading a {
  color: #366E99;
  text-decoration: none;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f7f7f7;
    border-color: #ddd;
}

/* navbar */
.navbar-background {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(136, 196, 66);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 0px;
  position: relative;
  z-index: 1100;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  grid-area: h / h / h / h;
  top: 0px;
}

.navbar-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding-top: 0px;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  height: 64px;
  line-height: 64px;
  flex: 1 1 0%;
}

.navbar-dropdown {
  margin-top: 16px;
}

/* sidebar */
.sidebar {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  padding: 150px 0;
  transition: 0.5s;
}

.sidebar-main {
  margin-right: 50px;
}

.sidebar-content {
  background-color: #f7f7f7;
  padding: 10px 15px;
}

.sidebar-item {
  margin: 5px 0;
}

.sidebar-hide-button {
  vertical-align: bottom;
}

/* strace */

div#strace-stracebox-content {
  height: 300px;
  overflow: scroll;
}

#strace-straces {
  width:100%;
  height:100%;
}

.selected-strace {
  background-color: #eee;
}

/* dygraph */
.component-icon {
  margin-right: 5px;
}

.dygraph-xlabel, .dygraph-ylabel {
  text-align: center;
}

.dygraph-label-rotate-right {
  transform: rotate(-90deg);
}

.dygraph-title {
  text-align: center;
}

.dygraph-legend {
  position: sticky;
  font-size: 14px;
  z-index: 10;
  width: 250px;
  background: white;
  line-height: normal;
  text-align: left;
  overflow: hidden;
}

.dygraph-legend-left {
  left: 35vw !important;
}