@import "./_theme.scss";
@import "./_overview.scss";
@import "./_settings.scss";
@import "./_timelines.scss";
@import "./_forbootstrap.scss";

.App {
  // text-align: center;
  /*border: 10px solid gold;*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $color-first;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*--------- START Dashboard Grid ----------- */

.master {
  grid-area: a;
}
.recentActivity {
  grid-area: d;
}
.latestRelease {
  grid-area: b;
}
.tests {
  grid-area: c;
}
.component {
  grid-area: e;
}
.thread {
  grid-area: f;
}
.appbar {
  grid-area: h;
}
.sidebar {
  grid-area: s;
}

.strace-table-row {
  display: inline-flex;
  margin-left: 10px;
  width: 160px;
  white-space: nowrap;
}

.grid {
  display: inline-grid;
  position: absolute;
  top: 8vh;
  left: 21vw;
  /*border: 10px solid gold;*/
  width: 78vw;
  height: 91vh;
  z-index: 1;
  float: left;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-rows: 0.1fr 0.9fr minmax(0.5fr, 1fr) minmax(1fr, 1.5fr);*/
  /*grid-template-rows: 10px 1fr minmax(0.5fr, 1fr) minmax(1fr, 1.5fr);*/
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
  grid-gap: 1vh;
  grid-template-areas:
    "a b c"
    "d d e"
    "d d f";
}

.grid-open {
  @extend .grid;
  left: 7vw !important;
  width: 92vw;
  transition: 0.2 ease;
}

.grid-item {
  display: grid;
  z-index: 9999;
  overflow: auto;
  background: $color-grey-lightest;
  border: 1px solid $color-grey-darker;
  /*height: 100%;*/
  color: $color-forth;
}

.navBarOpen {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  float: left;
  height: 100vh;
  /*margin-top: -8vh;*/
  /*display: block;*/
}

.navBarClose {
  @extend .navBarOpen;
  width: 6vw;
}

/*--------- END Dashboard Grid ----------- */

/*--------- START Navbar Styles ----------- */
#navbarWrapper {
  text-align: center;
  background: $color-forth;
  height: 100vh;
}

.navSpanFlexOpen {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  width: 20vw;
  padding: 0;
  margin: 0;
}

.navSpanFlexClose {
  @extend .navSpanFlexOpen;
  width: 6vw;
}

.navbar-username {
  color: $color-first;
}

.navbar-user-id {
  color: $color-third;
}

.appLogoOpen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20vw;
}

.appLogoClose {
  @extend .appLogoOpen;
  max-width: 6vw;
}

.navbarLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 6em 0 8em 0;
  list-style: none;
  margin: 0px;
}

.navbarLink {
  align-self: space-around;
  flex: auto;
}

.flexAuto {
  flex: auto;
}

.col-* {
  box-sizing: border-box;
}

.naviconStyle {
  @extend .iconStyle;
  color: $color-grey-lightest;
  padding-right: 1em;
  margin: -7px;
}

.navbar-selected {
  // color: $color-grey-lightest;
  // background-color:rgba(0,0,0,0.20)
  background-color: $color-forth-darker;
  font-weight: bold;
}

.spanFlexItem {
  flex: 0 1 auto;
  color: $color-grey-lightest;
}

/*--------- END Navbar Styles ----------- */
/*--------- START Appbar Styles ----------- */
.grid-item > svg {
  fill: #f7f7f7 !important;
}

/*.appbarOpen {
  width: 80vw;
  margin: 0;
  // background: #458bca;
  grid-area: h;
  top: 0;
  left: 10vw;
}

.appbarClosed {
  @extend .appbarOpen;
  width: 94vw;
  left: 3vw;
}*/
/*--------- END Appbar Styles ----------- */

/*--------- START Wrapper Styles ----------- */
/* These wrappers are a bit redundant but they are used to 
   change the layout of the page based on whether or not 
   the user opens or closes the side navigation panel. By
   default the navigation bar is open, hence the naming
   convention below */

.openWrapper {
  background: $color-grey-lightest;
  position: absolute;
  height: 94vh;
  width: 80vw;
  left: 20vw;
  top: 6vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1vh 1vw 1vh 1vw;
}

.closedWrapper {
  @extend .openWrapper;
  width: 94vw;
  left: 6vw;
}

.topbarWrapper {
  position: relative;
  top: 1vh;
  left: 0;
  /*height: 7vh;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background: $color-grey-lighter;*/
  flex-wrap: wrap;
}

.topbarItem {
  flex: 0 1 auto;
}
/*--------- END Wrapper Styles ----------- */

.testSelectorStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.branchSelectorStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.widgetSelectorStyle {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.widget_header {
  position: relative;
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
  flex-direction: row;
  align-items: center;
}

/*--------- START Chart Styles ----------- */
.chartColWrapper {
  /*width: 80vw;*/
  min-height: 70vh;
  /*position: relative;*/
  /*padding: 1em;*/
  flex: 1 1 auto;
}

.topbarColWrapper {
  flex: auto;
}
/*--------- END Chart Styles ----------- */

.docsLink {
  color: $color-grey-lightest;
}

.popoverMenu {
  z-index: 999;
}
